@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model CVGenerator.Pages.IndexModel
@{
    ViewData["Title"] = "Hallo";
}

<h1>@ViewData["Title"]</h1>

<p>Hier kann man PDFs generieren lassen.</p>



<a asp-page="/CV" asp-route-id="123">
    <img src="~/Previews/CV-1.png" alt="Preview Image" class="preview-image" />
</a>

<a asp-page="/CV" asp-route-id="123">
    <img src="~/Previews/CV-2.png" alt="Preview Image" class="preview-image" />
</a>

<a asp-page="/Letter" asp-route-id="123">
    <img src="~/Previews/Letter.png" alt="Preview Image" class="preview-image" />
</a>