@page
@model CVGenerator.Pages.LetterModel
@{
    ViewData["Title"] = "Brief";
}
<h1>@ViewData["Title"]</h1>

<p>Hier kannst du einen Brief generieren lassen.</p>

<form method="post" enctype="multipart/form-data">
    <input type="hidden" id="handler" name="handler" value="" />
    <input type="file" id="fileInput" name="uploadedFile" style="display: none;" />

    <div class="d-flex justify-content-start gap-2">
        <button type="submit" formnovalidate onclick="setHandler('LoadExample')" class="btn btn-secondary">Beispiel</button>
    </div>

    <div class="d-flex justify-content-end gap-2">
        <button type="button" onclick="openFileDialog()" class="btn btn-secondary">Import</button>
        <button type="submit" onclick="setHandler('Export')" class="btn btn-secondary">Export</button>
        <button type="submit" onclick="setHandler('Generate')" class="btn btn-primary">Download PDF</button>
    </div>

    <div class="row">

        <div class="col-md-6">
            <h3>Empfänger</h3>
            <div class="mb-3">
                <input asp-for="ToName" class="form-control" placeholder="Name" required />
            </div>
            <div class="mb-3">
                <input asp-for="ToStreet" class="form-control" placeholder="Strasse" required />
            </div>
            <div class="mb-3">
                <input asp-for="ToCity" class="form-control" placeholder="PLZ Stadt" required />
            </div>
            <div class="mb-3">
                <input asp-for="Summary" class="form-control" placeholder="Betreff" required />
            </div>
            <div class="mb-3">
                <input asp-for="Dear" class="form-control" placeholder="Anrede" required />
            </div>

            <div class="mb-3">
                <textarea asp-for="Text" rows="20" class="form-control" placeholder="Anschreiben" required></textarea>
            </div>

        </div>

        <div class="col-md-6">
            <h3>Absender</h3>

            <div class="mb-3">
                <input asp-for="Name" class="form-control" placeholder="Name" required/>
            </div>
            <div class="mb-3">
                <input asp-for="Street" class="form-control" placeholder="Strasse" required/>
            </div>
            <div class="mb-3">
                <input asp-for="City" class="form-control" placeholder="PLZ Stadt" required/>
            </div>

            <!-- Image Section -->
            <div class="mt-3">
                <label for="image">Unterschrift</label>
                <input type="file" class="form-control" id="image" name="Signature" accept="image/*" />
                <img id="preview" class="img-fluid mt-2" style="max-width: 200px; max-height: 200px;"/>
            </div>
        </div>
    </div>
</form>


<script>
    function setHandler(handlerName) {
        document.getElementById('handler').value = handlerName;
    }

    function openFileDialog() {
        let fileInput = document.getElementById('fileInput');

        // Set the handler to "Import" before opening the file dialog
        document.getElementById('handler').value = "Import";

        fileInput.click();  // Open the file dialog

        fileInput.onchange = function () {
            if (fileInput.files.length > 0) {
                let form = fileInput.closest("form");
                form.submit();  // Automatically submit the form after file selection
            }
        };
    }
</script>